# Project place file
/hermes.rbxlx
/hermes.rbxm

# Rojo
/sourcemap.json

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Node
/node_modules
/package-lock.json

# Vitepress
/docs/.vitepress/dist
/docs/.vitepress/cache

# Pesde
/luau_packages
/lune_packages
/pesde.lock

# Selene
/roblox.yml

# Vscode config
/.vscode